<div class="pokeholder">
    <h2><%= pokemons.name %></h2>
    <div class="image-holder">
        <img src="<%= pokemons.sprites.front_default %>" alt="default pokemon sprites"/>
    </div>
    <h4> Height: <%= pokemons.height %>mm</h4>
    <h4> Weight: <%= pokemons.weight %>g</h4>
    <h4> Species: <%= pokemons.species.name %></h4>
</div>


